@charset "utf-8";

/* 초기화 */
* {margin:0;padding:0;}
li {list-style:none;}
a {text-decoration:none;}
body {
	background-image: url(../images/powder_bg.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #999;
	font-size: 15px;
	font-family: sans-serif;
}
/* float 해제 */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}
#header {
	margin: 30px 0;
}
#gnb li {
	float:left;
	margin-right:53px;
}
#gnb li:last-child {
	margin-right:0;
}
#gnb li a {
	display: block;
	width: 200px;
	height: 200px;
	background-color: #000;
	text-align: center;
	line-height: 200px;
	color: #999;
	letter-spacing: 2px;
	border-radius: 50%;
}
#gnb li a.logo {
	background-image: url(../images/MAC_logo3.png);
	text-indent: -99999px; /* block에서만 표현가능 */
}
#gnb li a.logo:hover {
	background-image: url(../images/MAC_logo3_black.png);
}
#gnb li a.bronzing-powder:hover {
	background-image: url(../images/mac_bronzing.png);
	text-indent: -99999px;
}
#gnb li a.gleamtones-powder:hover {
	background-image: url(../images/mac_gleamtones.png);
	text-indent: -99999px;
}
#gnb li a.chrischang-powder:hover {
	background-image: url(../images/mac_chrischang.png);
	text-indent: -99999px;
}
#contents {
	background-color: #fff;
	height: 300px;
	border-radius: 50px;
	padding: 50px;
	background-image: url(../images/contents_bg.png);
	background-repeat: no-repeat;
	background-position: top right;
}
#contents h1 {
	color: #00b1ae;
	font-family: 'Montserrat',sans-serif;
}
#contents h1 span {
	font-size: 20px;
	vertical-align: super; /*위첨자 */
	font-weight: normal;
	color: #c93fa3;
}
sup { /*위첨자 */
	font-size: 20px;
}
sub { /* 아래첨자 */
	font-size:12px;
	color:#999;
	font-weight:normal;
}
p {
	line-height:1.8;
	margin:20px 0;

	width:600px;
}
p strong {
	color:#fff;
	background-color:#00b1ae;
	padding:3px 8px;
	border-radius:5px;
	vertical-align:1px;
}
p > a {
	color:#ff636e;
}
p > a:hover {
	text-decoration:underline;
}
#footer {
	text-align:right;
	padding:20px;
	letter-spacing:5px;
	color:#666;
}
